<template>
  <div class="bulk-action-bar">
    <span class="checkbox">
      <input
        type="checkbox"
        :checked="allEmailsSelected"
        :class="[someEmailsSelected ? 'partial-check' : '']"
        @click="bulkSelect"
      />
    </span>
    <span class="buttons">
      <button
        @click="emailSelection.markRead()"
        :disabled="[...emailSelection.emails].every((e) => e.read)"
      >
        Mark Read
      </button>
      <!-- Lo que queríamos era convertirlo en array para usar every, por lo tanto usar Array.from() tb hubiese sido válido -->
      <button
        @click="emailSelection.markUnread()"
        :disabled="[...emailSelection.emails].every((e) => !e.read)"
      >
        Mark Unread
      </button>
      <button
        @click="emailSelection.archive()"
        :disabled="numberSelected === 0"
      >
        Archive
      </button>
    </span>
  </div>
</template>

<script>
import useEmailSelection from "../composables/use-email-selection";
import { computed } from "vue";
export default {
  setup(props) {
    let emailSelection = useEmailSelection();
    let numberSelected = computed(() => emailSelection.emails.size);
    let numberEmails = props.emails.length;
    let allEmailsSelected = computed(
      () => numberSelected.value === numberEmails
    ); //se usa value porque numberSelected es una referencia reactiva al ser una computed (?)
    let someEmailsSelected = computed(() => {
      return numberSelected > 0 && numberSelected < numberEmails;
    });
    let bulkSelect = function () {
      if (allEmailsSelected.value) {
        //value de nuevo porque es reactive reference
        emailSelection.clear();
      } else {
        emailSelection.addMultiple(props.emails);
      }
    };
    return {
      allEmailsSelected,
      someEmailsSelected,
      bulkSelect,
      emailSelection,
      numberSelected,
    };
  },
  props: {
    emails: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style>
</style>