<template>
<BulkActionBar :emails="unarchivedEmails"/>
  
  <table class="mail-table">
    <tbody>
      <!-- tbody y tr = table body y table row -->
      <!--  en class clickable se extiende la clase de este modo, si read está en true, accede a la classe de css mail-table tr.read  -->
      <!--  Al principio en el v for teníamos emails, pero lo cambiamos por la computed , por lo tanto los emails archivados (archived = true) ya no se muestran-->
      <tr
        v-for="email in unarchivedEmails"
        :key="email.id"
        :class="['clickable', email.read ? 'read' : '']"
      >
        <td>
          <input
            type="checkbox"
            @click="emailSelection.toggle(email)"
            :checked="emailSelection.emails.has(email)"
          />
        </td>
        <td @click="openEmail(email)">{{ email.from }}</td>
        <td @click="openEmail(email)">
          <p>
            <strong>{{ email.subject }}</strong> - {{ email.body }}
          </p>
        </td>
        <td class="date" @click="openEmail(email)">
          {{ format(new Date(email.sentAt), "MMM do yyyy") }}
        </td>
        <td><button @click="archiveEmail(email)">Archive</button></td>
      </tr>
    </tbody>
  </table>

  <ModalView v-if="state.openedEmail" @closeModal="state.openedEmail = null">
    <MailView :email="state.openedEmail" @changeEmail="changeEmail" />
  </ModalView>
</template>

<script>
import { format } from "date-fns";
import MailView from "../components/MailView";
import ModalView from "../components/ModalView";
import axios from "axios";
import { ref, reactive } from "vue"; //ya no se puede clickar y que se quede gris el botón
import useEmailSelection from "../composables/use-email-selection";
import BulkActionBar from './BulkActionBar'

export default {
  async setup() {
    let response = await axios.get("http://localhost:3000/emails");
    let emails = response.data;
    //let {data:emails}= await axios.get('http://Localhost:3000/emails') TRUCO para hacerlo más corto. Equivaldría a las dos líneas anteriores.
    const state = reactive({
      openedEmail: null,
    });

    return {
      emailSelection: useEmailSelection(),
      state,
      format,
      emails: ref(emails), //ref explicado en el import
      //openedEmail: null,
    };
  },
  components: {
    MailView,
    ModalView,
    BulkActionBar
  },

  computed: {
    sortedEmails() {
      return this.emails.sort((e1, e2) => {
        return e1.sentAt < e2.sentAt ? 1 : -1;
      });
    },
    unarchivedEmails() {
      return this.sortedEmails.filter((e) => !e.archived);
    },
  },
  methods: {
    openEmail(email) {
      this.state.openedEmail = email;
      if (email) {
        email.read = true;
        this.updateEmail(email);
      }
    },

    archiveEmail(email) {
      email.archived = true;
      this.updateEmail(email);
    },

    updateEmail(email) {
      axios.put(`http://localhost:3000/emails/${email.id}`, email);
    },
    changeEmail({ toggleRead, toggleArchive, save, closeModal, changeIndex }) {
      let email = this.state.openedEmail;
      if (toggleRead) {
        email.read = !email.read;
      }
      if (toggleArchive) {
        email.archived = !email.archived;
      }
      if (save) {
        this.updateEmail(email);
      }
      if (closeModal) {
        this.state.openedEmail = null;
      }
      if (changeIndex) {
        let emails = this.unarchivedEmails;
        let currentIndex = emails.indexOf(this.state.openedEmail);
        let newEmail = emails[currentIndex + changeIndex];
        this.openEmail(newEmail);
      }
    },
  },
};
</script>

<style>
</style>