<template>
  <div class="email-display">
    <div>
      <button @click="toggleArchive">
        {{ state.email.archived ? "Move to Inbox (E)" : "Archive (E)" }}
      </button>
      <button @click="toggleRead">
        {{ state.email.read ? "Mark unread (R)" : "Mark read (R)" }}
      </button>
      <button @click="goNewer">Newer (K)</button>
      <button @click="goOlder">Older (J)</button>
    </div>
    <h2 class="mb-0">
      >Subject: <strong>{{ email.subject }}</strong>
    </h2>
    <div>
      <em
        >From {{ email.from }} on
        {{ format(new Date(email.sentAt), "MMM do yyyy") }}</em
      >
    </div>
    <div v-html="marked(email.body)" />
  </div>
</template>

<script>
import { format } from "date-fns";
import marked from "marked";
import axios from "axios";
import { reactive } from "vue";
import useKeydown from "../composables/use-keydown";

export default {
  setup(props, {emit}) {
    const state = reactive({ email: props.email });
    //podemos poner las props como primer argumento en el setup. Si quitásemos de la 12 a la 14, el códidgo funcionaría también
    /*let toggleRead = () => {
      state.email.read = !state.email.read;
      axios.put(`http://localhost:3000/emails/${state.email.id}`, state.email);
    }

     let toggleArchive = () => {
      state.email.archived = !state.email.archived;
      axios.put(`http://localhost:3000/emails/${state.email.id}`, state.email);
    }*/
    let toggleRead = ()=> {emit('changeEmail', {toggleRead:true, save:true})}
    let toggleArchive = ()=> {emit('changeEmail', {toggleArchive:true, save:true, closeModal:true})}
    let goNewer = ()=> {emit('changeEmail', {changeIndex: -1})}
    let goOlder = ()=> {emit('changeEmail', {changeIndex: 1})}
    let goNewerAndArchive = ()=> {emit('changeEmail', {changeIndex: -1, toggleArchive:true, save:true})}
    let goOlderAndArchive = ()=> {emit('changeEmail', {changeIndex: -1, toggleArchive:true, save:true})}

    useKeydown([
        { key: "r", fn: toggleRead },
        { key: "e", fn: toggleArchive },
        { key: "k", fn: goNewer},
        { key: "j", fn: goOlder },
        { key: "[", fn: goNewerAndArchive },
        { key: "]", fn: goOlderAndArchive },

        ]);

    return {
      state,
      format,
      marked,
      toggleRead,
      toggleArchive,
      goNewer,
      goOlder
    };
  },
  props: {
    email: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style>
</style>