<template>
  <div class="modal">
    <div class="overlay">
      <div class="modal-card">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
import useKeydown from '../composables/use-keydown'
export default {
  setup(props, { emit }) {
    //emit no está por defecto en el template, pero lo podemos poner como segundo argumento en setup
    useKeydown([
      {
        key: "Escape",
        fn: () => {
          emit("closeModal")
        },
      },
      {
        key: "Enter",
        fn: () => {
          console.log("A different function")
        },
      },
    ]) 
   
   return {
      emit,
    };
  },
};
</script>

<style scoped>
</style>